{# app/Views/Controller/todo/inc/vue/todo_app.html.twig #}
<div id="vue-todo"></div>
<footer class="info">
    <p>Double-click to edit a todo</p>
    <p>Written by <a href="http://evanyou.me">Evan You</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>

