{# app/Views/Controller/todo/index.html.twig #}
{% extends "Layout/base.html.twig" %}

{% block title %}{{ controller|capitalize }}{% endblock title %}
{% block head %}
    {{ parent() }}
{% endblock head %}

{% block page_name %}{{ controller|capitalize }}{% endblock page_name %}

{% block content %}
    <h3>{{ 'examples_todos_lists_various_frameworks'|trans|capitalize }} </h3>
    <ul>
        <li><a href="/todo/bb">TodoMVC for Backbone</a></li>
        <li><a href="/todo/vue">TodoMVC for Vue</a></li>    
    </ul>
    
{% endblock content %}

