<div class="panel panel-default markdown">
    <div class="panel-heading markdown-heading">
        <h3 class="panel-title">{{ title }}</h3>
    </div>
    <div class="panel-body markdown-body">
        {{ text|raw }}
    </div>
</div>