{# app/Views/Controller/books/book.html.twig #}
{% extends "Layout/base.html.twig" %}

{% block title %}Book{% endblock title %}
{% block head %}{{ parent() }}{% endblock head %}

{% block page_name %}Book{% endblock page_name %}

{% block content %}
    <div class="block">
        {{ book.name }} ({{ book.author.name }})
    </div>
{% endblock content %}